{{- if and (or (and .Values.etcd.enabled .Values.etcd.auth.rbac.create) (and (not .Values.etcd.enabled) .Values.externalEtcd.user)) (or (and .Values.apisix.deployment.role_traditional (eq .Values.apisix.deployment.role_traditional.config_provider "etcd")) (and .Values.apisix.deployment.role_data_plane (eq .Values.apisix.deployment.role_data_plane.config_provider "etcd")) (and .Values.apisix.deployment.role_control_plane (eq .Values.apisix.deployment.role_control_plane.config_provider "etcd"))) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "apisix.etcd.secretName" . }}
  namespace: {{ .Release.Namespace }}
type: Opaque
data:
  {{ .Values.externalEtcd.secretPasswordKey }}: {{ .Values.externalEtcd.password | b64enc | quote }}
{{- end }}
